<div class="sidebar">
      <div class="sidebar-nav">
        <div class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
        
         <li routerLinkActive = "active"><a [routerLink] = "['/landing-container/directory-list']">Directory list</a></li>
                <li><a [routerLink] = "['/landing-container']">Contact list</a></li>
                

              <li><a [routerLink] = "['/landing-container/add-directory']">Add directory</a></li>
              
              <li><a [routerLink] = "['/landing-container/add-contact']">Add contact</a></li>
              <li><a [routerLink] = "['/landing-container/search-contact']">Search contact</a></li>
              

            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    
</div>